<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:Orange">
	
	<div>		
		
		<div align="left">
			<h3>
				<a th:href="@{'/logout'}"><b>Logout</b></a>
			</h3>
		</div>

		<div align="center">
			<h2>
				<a th:href="@{'/new'}">Add new Product</a>
			</p>
			</h2>
		</div>	
	
		<tr>
		<div align="center">
			<div class="col-sm-5" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Item</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="stock : ${liststock }" >
								<!-- stock class -->
								<td th:text="${stock.id}">ID</td>
								<td th:text="${stock.item}">Item</td>
								<td th:text="${stock.price}">Price</td>
								<td th:text="${stock.quantity}">Quantity</td>
								<td><a th:href="@{'/edit/' + ${stock.id}}">Edit</a></td>
								<td><a th:href="@{'/delete/' + ${stock.id}}">Delete</a></td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>

			</div>

		</tr>

		</tbody>
		</table>
		
		
		<div>
</body>
</html>